{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<h2> Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>full name</th>
            <th>mobile number</th>
            <th>email</th>
            <th>password</th>
            <th>confirm password</th>
            
        </tr>
        </thead>
        <tbody>
            {% for m in data %}
        <tr>
            <td>{{m.fname}}</td>
            <td>{{m.mobile}}</td>
            <td>{{m.email}}</td>
            <td>{{m.pssw}}</td>
            <td>{{m.cpssw}}</td>
           
        </tr>
        {% endfor %}
    
        <tbody>
    </table>
</div>
